/* div {
    background-color: blue;
} */

.class-selector-name {

}

#first-div > p {
    background-color: red;
}

main {
    border: green 4px solid;
    margin: 100px;
    padding: 200px;
    width: 1000px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 100%;
    text-align: center;
    letter-spacing: 3px;
    background-image: url('https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fHww&w=1000&q=80');
    background-size: 50%;
    background-position: top;
    background-repeat: no-repeat;
}

img {
    width: 200px;
    height: 200px;
    float: right;

}

section p {
    clear: both;
}